/chave-primaria-composta/chave-composta-idClass/nbproject/private/
/chave-primaria-composta/chave-composta-idClass/build/
/chave-primaria-composta/chave-composta-idClass/dist/
/chave-primaria-composta/vendaProduto/nbproject/private/
/chave-primaria-composta/vendaProduto/build/
